#headerColorPicker {
    position: absolute;
    margin: 8px;
    width: 50px;
}

#titleContainer > #titleLabel, #titleContainer > #titleField {
    margin-left: 55px;
}

.my-custom-title-bold {
    -unity-font-style: bold;
    white-space: normal;
    height: auto;
}